.page
{
	width:1340px;
}
.header
{
    background-color: #ccae2a;
    color:#313131;
	width:1335px;
	height:45px;
	background-repeat:no-repeat;
}
ul{
    float:right;
    list-style-type:none;
  }
  ul li{
      display:inline-block;
      text-align:center;
    color:#fff;
  }
  p{
    font-size: 17px;
    display: block;
    font-family:sans-serif;
  }
  ul li a{
      text-decoration: none;
      padding: 5px 10px;
      border : 1px solid transparent;	
      transition : 0.6s ease;
      color:#fff;
  }
  .links
  {
       width:1335px;
      height:70px;
    background-color: white;
  }
  .links a{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       color:rgb(17, 16, 16);
      text-decoration:none;
  }
  .links a:hover
  {
      background-color:black;
      color:white;	
  }
  .links a.active{
      background-color :#ccae2a;
      color:#000;
  }
  .pull-right {
      height:20px;
      float: right!important;
  }
  .logo img
  {
    float:left;
    margin-left: 50px;
    width:90px;
      height:75px;
  }
  .head-div {
      display: inline-block;
  }
  .head-img {
      display: inline;
  }
  * {box-sizing:border-box}
  .but{
    background-color: white; /* Green */
    border:2px solid rgb(216, 233, 122);
    color:ccae2a;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }
.below{
    height:700px;
    width: 1330px;
    background-color: rgb(245, 237, 237);
}
.login3{
    width: 500px;
    height: 350px;
    background-color:white;
    border: 5px solid #ccae2a;
    
}
.login5{
  width: 500px;
  height: 450px;
  background-color:white;
  border: 5px solid #ccae2a;
  
}

.para1{
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
  color: #595959;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #ccae2a;

}
