<web-app>  
  
<servlet>  
<servlet-name>Register</servlet-name>  
<servlet-class>Register</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Register</servlet-name>  
<url-pattern>/Register</url-pattern>  
</servlet-mapping>  

<servlet>  
<servlet-name>logout</servlet-name>  
<servlet-class>logout</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>logout</servlet-name>  
<url-pattern>/logout</url-pattern>  
</servlet-mapping>  
  

  
</web-app>  